html {
  background-image: url(assets/background.jpg);
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-size: 100%;
}

body {
    color: #fff;
    font-family: "herolite", sans-serif;
    font-size: 1.3em;
    margin: 0;
}

/*--typography stuff--*/

@font-face {
    font-family: "herolite";
    src: url("assets/herolite.otf")
    format('opentype');
}

nav {
    letter-spacing: .5em;
    text-transform: uppercase;
}

#mainlogo {
    text-transform: uppercase;
}

.headshot {
  display: block;
  margin: auto;
  transform: translateY(-100px);
}

/*--navbar stuffffff--*/

nav {
    text-align: center;
    font-size: .8em;
    margin-top: 30px
    display: block;
}

nav li {
  display: inline;
}

nav a {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    background: none;
    border: 5px solid rgba(0, 0, 0, 0);
    transition: border .25s linear;
}

nav a:hover{
    border: 5px solid #fff;
    background-image: url(assets/background_blurry.jpg);
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    content: "";
}


/*--page layout--*/
main {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.2em;
    text-decoration: underline;
}

#content {
    text-align: left;
}

.centerimg {
    display: block;
    margin: auto;
}

#mainlogo {
  font-size: 4em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0;
}

footer {
    text-align: right;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.paraimage {
    float: right;
    border-left: solid 5px white;
    margin-left: 2px;
}

.paraimage2 {
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.4);
}

main h1 {
    border-bottom: 5px solid white;
}

#topofpage {
    position: fixed;
    bottom: 10px;
    left: 18%;
    font-size: 7em;
    color: white;
    text-decoration: none;
}
/*--frost effect--*/

.glass::before{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(assets/background_blurry.jpg);
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    content: "";
}

.glass{
  margin-top: 0px;
    position: relative;
    border-bottom: 1px solid;
    border-color: #ccc;
    border-color: rgba(255, 255, 255, 0.49);
    background-color: rgba(255, 255, 255, 0.2);
  }

main {
    margin: 3% 25% 0 25%;
    padding: 40px 50px;
}

#outmain {
    margin: 0 25%;
    padding: 40px 50px 0px 40px;;
    text-align: center;
    color: white;
}

#outmain h1, #outmain p {
  text-align: left;
}

#outmain a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border: 5px solid #fff;
}

@media screen and (min-width: 450px) and (max-width: 800px)
 {

  .headshot {
    display: none;
  }

  #mainlogo {
    font-size: 2.5em;
  }

  main {
      margin: 0;
      padding: 40px 50px;
  }

  #outmain {
    margin: 0;
  }

  .centerimg {
    width: 50%;
    height: 50%;
  }

}

@media screen and (max-width: 450px)
 {

  .headshot {
    display: none;
  }

  #mainlogo {
    font-size: 2em;
  }

  nav {
    background-color: black;
    border: 5px solid white;
    padding-bottom: 30px;
  }

  nav li {
    display: block;
  }

  main {
      margin: 0;
      padding: 20px 25px;
  }

  #outmain {
    margin: 0;
  }

  #outmain a {
    display: block;
    margin: 5px;
    border: 2px solid white;
  }

  main img {
    display: none;
  }

  .centerimg {
    width: 50%;
    height: 50%;
  }

}
